<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmw.open.mapper.BfBusinessRecordMapper">

	<resultMap id="BaseResultMap" type="com.hmw.open.model.BfBusinessRecord">
		<id column="id" property="id" />
		<result column="order_id" property="orderId" />
		<result column="order_money" property="orderMoney" />
		<result column="order_detail" property="orderDetail" />
		<result column="order_time" property="orderTime" />
		<result column="coupon_deduction" property="couponDeduction" />
		<result column="platform_partion" property="platformPartion" />
		<result column="sum_income" property="sumIncome" />
		<result column="platform_profit" property="platformProfit" />
		<result column="order_status" property="orderStatus" />
		<result column="shop_id" property="shopId" />
		<result column="shop_name" property="shopName" />
		<result column="operater" property="operater" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, order_id AS orderId, order_money AS orderMoney, order_detail AS orderDetail, order_time AS orderTime, coupon_deduction AS couponDeduction, platform_partion AS platformPartion, sum_income AS sumIncome, platform_profit AS platformProfit, order_status AS orderStatus, shop_id AS shopId, shop_name AS shopName, operater, create_time AS createTime, update_time AS updateTime, remark
    </sql>
</mapper>
