<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmw.open.mapper.BfCouponMapper">

	<resultMap id="BaseResultMap" type="com.hmw.open.model.BfCoupon">
		<id column="id" property="id" />
		<result column="coupon_name" property="couponName" />
		<result column="coupon_monry" property="couponMonry" />
		<result column="overdue_time" property="overdueTime" />
		<result column="type" property="type" />
		<result column="coupon_message" property="couponMessage" />
		<result column="coupon_status" property="couponStatus" />
		<result column="user_id" property="userId" />
		<result column="phone" property="phone" />
		<result column="coupon_produce_id" property="couponProduceId" />
		<result column="coupon_code" property="couponCode" />
		<result column="operater" property="operater" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, coupon_name AS couponName, coupon_monry AS couponMonry, overdue_time AS overdueTime, type, coupon_message AS couponMessage, coupon_status AS couponStatus, user_id AS userId, phone, coupon_produce_id AS couponProduceId, coupon_code AS couponCode, operater, create_time AS createTime, update_time AS updateTime, remark
    </sql>
</mapper>
