<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmw.open.mapper.BfRefundRecordMapper">

	<resultMap id="BaseResultMap" type="com.hmw.open.model.BfRefundRecord">
		<id column="id" property="id" />
		<result column="refund_remark" property="refundRemark" />
		<result column="type" property="type" />
		<result column="photo" property="photo" />
		<result column="user_id" property="userId" />
		<result column="phone" property="phone" />
		<result column="shop_id" property="shopId" />
		<result column="shop_name" property="shopName" />
		<result column="order_id" property="orderId" />
		<result column="order_no" property="orderNo" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, refund_remark AS refundRemark, type, photo, user_id AS userId, phone, shop_id AS shopId, shop_name AS shopName, order_id AS orderId, order_no AS orderNo, create_time AS createTime, update_time AS updateTime, remark
    </sql>
    
    <select id="getRefundRecord" resultType="com.hmw.open.model.BfRefundRecordVo">
	   	SELECT
			ord.id AS orderId,
			ref.refund_remark AS refundRemark,
			ref.order_no AS orderNo,
			ord.order_time AS orderTime,
			ref.photo AS photo,
			ord.take_address as takeAddress,
			ref.type as type
		FROM
			bf_order AS ord,
			bf_refund_record AS ref
		WhERE
		    ord.id = ref.order_id
		AND ord.order_status = 5
    </select>
</mapper>
