<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmw.open.mapper.BfSubwayStationMapper">

	<resultMap id="BaseResultMap" type="com.hmw.open.model.BfSubwayStation">
		<id column="id" property="id" />
		<result column="subway_id" property="subwayId" />
		<result column="station_name" property="stationName" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, subway_id AS subwayId, station_name AS stationName
    </sql>
</mapper>
